body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #12cad6;
}
.todo-container{
    width: 400px;
    text-align: center;
    margin: auto;
}
.input-section{
    background-color: #0fabbc;
    width: 400px;
    border-radius: 6px;
    height: 150px;
}
.input-section input{
    width: 340px;
    height: 40px;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
    text-align: left;
    background-color: #0fabbc;
    border-radius: 3px;
    height: 40px;
    font-size: 25px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}